<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Video Game History Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Video Game History Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text><h1>Video Game History Quiz</h1></ion-text>
    <ion-text><h5>Quess the correct answer!</h5></ion-text>
    <ion-text color="primary"><h5>"{{quizService.getQuoteOfActiveQuestion()}}"</h5></ion-text>
    <ion-list>
      <ion-radio-group>
        <ion-item *ngFor="let option of quizService.getOptionsOfActiveQuestion(); let i=index">
          <ion-label>{{option}}</ion-label>
          <ion-radio *ngIf=!quizService.isAnswerCorrect() (click)="checkOption(i)">
          </ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-text><h5>Question {{quizService.getIndexOfActiveQuestion()}}/
      {{quizService.getNumberOfQuestions()}}</h5></ion-text>
    <ion-button [disabled]="!quizService.isAnswerCorrect()"
    shape="round" color="success" (click)="continue()" tappable>Continue</ion-button>
    <ion-text *ngIf=quizService.isOptionSelected()><h6>{{feedback}}</h6></ion-text>
    <ion-text><h5>Correct Answers: {{quizService.getNumberofCorrectAnswers()}}/
        {{quizService.getNumberOfQuestions()}}</h5></ion-text>
  </div>
</ion-content>

