<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Video Game History Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Video Game History Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text><h1>Video Game History Quiz</h1></ion-text>
    <ion-text><h5>Quess the correct answer!</h5></ion-text>
    <div><img src="../../assets/imgs/frontpagecontroller.png"/></div>
    <ion-button shape="round" color="success" (click)="goToQuizPage()" tappable>Start the Quiz!</ion-button>
  </div>
</ion-content>