<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
     Video Game History Quiz
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Video Game History Quiz</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-text><h1>Video Game History Quiz</h1></ion-text>
    <ion-text><h4>Correct Answers</h4></ion-text>
    <ion-item *ngFor="let x of quizService.getQuestions(); let i=index">
      <ion-label>
        <ion-text>{{x.quote}}</ion-text>
        <ion-text color="primary"> : {{x.options[x.correctOption]}}</ion-text>
      </ion-label>
    </ion-item>
      <ion-button shape="round" color="success" (click)="goHome()" tappable>Start the Quiz again!</ion-button>
  </div>
</ion-content>