<ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>
        Video Game History Quiz
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">Video Game History Quiz</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <div id="container">
      <ion-text><h1>Video Game History Quiz</h1></ion-text>
      <ion-text><h5>Your time was {{ durationSeconds }} seconds!</h5></ion-text>
      <ion-text><h5>You got {{ percentage }}% !</h5></ion-text>
      <ion-text><h5>You got {{ quizService.getNumberofCorrectAnswers() }} questions correct!</h5></ion-text>
      <ion-text><h5>{{ endQuote }}</h5></ion-text>
        <div id="best" hidden>
          <img src="../../assets/imgs/nescontroller.png"/>
        </div>
        <div id="middle" hidden>
          <img src="../../assets/imgs/supernintendo.png" width="50%" height="50%"/>
        </div>
        <div id="loser" hidden>
          <img src="../../assets/imgs/gameboyadvance.png" width="50%" height="50%"/>
        </div>
      <ion-button shape="round" color="success" (click)="goHome()" tappable>Try Again?</ion-button>
      <ion-button shape="round" color="success" (click)="goToAnswersPage()" tappable>Watch the answers</ion-button>
    </div>
  </ion-content>
  