#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;

    :root {
      --ion-color-primary: #707070;
      --ion-color-primary-rgb: 112,112,112;
      --ion-color-primary-contrast: #ffffff;
      --ion-color-primary-contrast-rgb: 255,255,255;
      --ion-color-primary-shade: #636363;
      --ion-color-primary-tint: #7e7e7e;
    
      --ion-color-secondary: #ee2020;
      --ion-color-secondary-rgb: 238,32,32;
      --ion-color-secondary-contrast: #ffffff;
      --ion-color-secondary-contrast-rgb: 255,255,255;
      --ion-color-secondary-shade: #d11c1c;
      --ion-color-secondary-tint: #f03636;
    
      --ion-color-tertiary: #141415;
      --ion-color-tertiary-rgb: 20,20,21;
      --ion-color-tertiary-contrast: #ffffff;
      --ion-color-tertiary-contrast-rgb: 255,255,255;
      --ion-color-tertiary-shade: #121212;
      --ion-color-tertiary-tint: #2c2c2c;
    
      --ion-color-success: #c8a74c;
      --ion-color-success-rgb: 200,167,76;
      --ion-color-success-contrast: #000000;
      --ion-color-success-contrast-rgb: 0,0,0;
      --ion-color-success-shade: #b09343;
      --ion-color-success-tint: #ceb05e;
    
      --ion-color-warning: #ffc409;
      --ion-color-warning-rgb: 255,196,9;
      --ion-color-warning-contrast: #000000;
      --ion-color-warning-contrast-rgb: 0,0,0;
      --ion-color-warning-shade: #e0ac08;
      --ion-color-warning-tint: #ffca22;
    
      --ion-color-danger: #eb445a;
      --ion-color-danger-rgb: 235,68,90;
      --ion-color-danger-contrast: #ffffff;
      --ion-color-danger-contrast-rgb: 255,255,255;
      --ion-color-danger-shade: #cf3c4f;
      --ion-color-danger-tint: #ed576b;
    
      --ion-color-dark: #222428;
      --ion-color-dark-rgb: 34,36,40;
      --ion-color-dark-contrast: #ffffff;
      --ion-color-dark-contrast-rgb: 255,255,255;
      --ion-color-dark-shade: #1e2023;
      --ion-color-dark-tint: #383a3e;
    
      --ion-color-medium: #92949c;
      --ion-color-medium-rgb: 146,148,156;
      --ion-color-medium-contrast: #ffffff;
      --ion-color-medium-contrast-rgb: 255,255,255;
      --ion-color-medium-shade: #808289;
      --ion-color-medium-tint: #9d9fa6;
    
      --ion-color-light: #f4f5f8;
      --ion-color-light-rgb: 244,245,248;
      --ion-color-light-contrast: #000000;
      --ion-color-light-contrast-rgb: 0,0,0;
      --ion-color-light-shade: #d7d8da;
      --ion-color-light-tint: #f5f6f9;
    }


  }